* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  padding: 5%;
}

.square {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}


/* blink */
.main div:nth-child(1) {
  animation: anim1 2s ease 2s infinite normal forwards;
}

@keyframes anim1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

/* bounce */
.main div:nth-child(2) {
  border-radius: 50%;
  animation: anim2 2s ease 2s infinite normal forwards;
}

@keyframes anim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
}

/*jello*/
.main div:nth-child(3) {
  animation: anim3 2s ease 0s infinite normal forwards;
}

@keyframes anim3 {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

/* shake vertical */
.main div:nth-child(4) {
    animation: anim4 2s ease 0s infinite normal forwards;
}

@keyframes anim4 {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

/* pulse */
.main div:nth-child(5) {
    animation: anim5 2s ease 0s infinite normal forwards;
}

@keyframes anim5 {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

/* background pan position focus */

#box6{
    background-image: url(../bordershapes/nick-fewings-S7cyjr_3prc-unsplash.jpg);
}

.main div:nth-child(6){
    animation: anim6 2s ease 0s infinite normal forwards;

}

@keyframes anim6 {
	0% {
		background-position: 50% 0%;
	}

	100% {
		background-position: 50% 100%;
	}
}

/* scale up bottom */
.main div:nth-child(7){
    animation: myAnim7 2s ease 0s infinite normal forwards;
}

@keyframes myAnim7 {
	0% {
		transform: scale(0.5);
		transform-origin: 50% 100%;
	}

	100% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
}

/* scale up horizontal-right */
.main div:nth-child(8){
    animation: myAnim8 2s ease 0s infinite normal forwards;
}

@keyframes myAnim8 {
	0% {
		transform: scaleX(0.4);
		transform-origin: 100% 100%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
	}
}

/* rollin top */
.main div:nth-child(9){
    animation: myAnim9 2s ease 0s infinite normal forwards;
}

@keyframes myAnim9 {
	0% {
		opacity: 0;
		transform: translateY(-250px) rotate(-200deg);
	}

	100% {
		opacity: 1;
		transform: translateY(0) rotate(0deg);
	}
}

/* scale in foward vertical top */
.main div:nth-child(10){
    animation: myAnim10 2s ease 0s infinite normal forwards;
}

@keyframes myAnim10 {
	0% {
		transform: scaleY(0);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
	}
}


/* swril In forward right */
.main div:nth-child(11){
    animation: myAnim11 2s ease 0s infinite normal forwards;
}

@keyframes myAnim11 {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
		transform-origin: 100% 50%;
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
		transform-origin: 100% 50%;
	}
}

/* bounce out backwards exit */
.main div:nth-child(12){
    animation: myAnim12 2s ease 0s infinite normal forwards;
}

@keyframes myAnim12 {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	5% {
		animation-timing-function: ease-in;
		transform: scale(0.95);
	}

	15% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	25% {
		animation-timing-function: ease-in;
		transform: scale(0.84);
	}

	38% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	52% {
		animation-timing-function: ease-in;
		transform: scale(0.7);
	}

	70% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	85% {
		opacity: 1;
	}

	100% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(0);
	}
}
