* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    padding: 5%;

}

.square {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.main div:nth-child(1) {
    animation: anim1 2s ease 2s infinite normal forwards;
}

@keyframes anim1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.main div:nth-child(2) {
    border-radius: 50%;
    animation: anim2 2s ease 2s infinite normal forwards;
}

@keyframes anim2{
    0%  {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }
    38%  {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
    55%  {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }
    72%  {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }
    81%  {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }
    90%  {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }
    95%  {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }
    100%  {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }
}